.section {
  margin-top: 100px;
  @include media-laptop {
    margin-top: 80px;
  }
  @include media-tablet {
    margin-top: 50px;
  }
  &:first-child {
    margin-top: 0;
  }
  &--mob-hidden {
    @include media-tablet {
      overflow: hidden;
    }
  }
  &--bg {
    background: #f6f3ec;
  }
  &--banner {
    padding: 50px 0;
    @include media-laptop {
      padding: 30px 0;
    }
    @include media-tablet {
      padding: 15px 0;
    }
  }
  &--contacts {
    padding: 100px 0;
    @include media-laptop {
      padding: 80px 0;
    }
    @include media-tablet {
      padding: 0;
    }
  }
  &--offers {
    margin-top: 0;
    padding: 50px 0 100px;
    @include media-laptop {
      padding: 30px 0 80px;
    }
    @include media-tablet {
      padding: 20px 0 50px;
    }
  }
}
